//---------------------------------------------------------------------------
// diskperf.rc
//
// Copyright (C) Microsoft Corporation, 1992 - 1999
//---------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Disk Performance Driver"
#define VER_INTERNALNAME_STR        "diskperf.sys"
#define VER_ORIGINALFILENAME_STR    "diskperf.sys"

#include "common.ver"

LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

