//==========================================================================;
//
//  THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
//  KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR
//  PURPOSE.
//
//  Copyright (c) 1992-1998 Microsoft Corporation
//
//--------------------------------------------------------------------------;
//
//  codec.rc
//
//  Description:
//      This file contains the resources for the codec.
//
//
//==========================================================================;

#include <windows.h>
#include "codec.h"
#include "codec.rcv"


//
//
//
//
//
STRINGTABLE MOVEABLE DISCARDABLE
BEGIN
    IDS_ACM_DRIVER_SHORTNAME    "Microsoft IMA ADPCM"
#ifdef DEBUG
    IDS_ACM_DRIVER_LONGNAME     "Microsoft IMA ADPCM CODEC (debug)"
#else
    IDS_ACM_DRIVER_LONGNAME     "Microsoft IMA ADPCM CODEC"
#endif

    IDS_ACM_DRIVER_COPYRIGHT    "Copyright (C) 1992-1996 Microsoft Corporation"
    IDS_ACM_DRIVER_LICENSING    ""
    IDS_ACM_DRIVER_FEATURES     "Compresses and decompresses IMA ADPCM audio data."

    IDS_ACM_DRIVER_TAG_NAME,    "IMA ADPCM"

#ifdef IMAADPCM_USECONFIG
    IDS_CONFIG_NORATES          "No rates"
    IDS_CONFIG_ALLRATES         "All rates"
    IDS_CONFIG_MONOONLY         "%u Hz mono"
    IDS_CONFIG_STEREOONLY       "%u Hz stereo"
    IDS_CONFIG_MONOSTEREO       "%u Hz mono  /  %u Hz stereo"
    IDS_ERROR,			"Microsoft IMA ADPCM Codec Configuration Error"
    IDS_ERROR_NOMEM,	        "Not enough memory available for this task. Quit one or more applications to increase available memory, and then try again."
#endif

END


//
//	Config dialog box
//
//  Note: the 4L in the STYLE line un-bolds the text for Chicago.
//

#ifdef IMAADPCM_USECONFIG

IDD_CONFIG DIALOG DISCARDABLE  0, 0, 253, 121
STYLE DS_MODALFRAME | 4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
CAPTION "Microsoft IMA ADPCM CODEC Configuration"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Maximum real-time conversion rate",IDC_STATIC,9,6,236,80
    LTEXT           "&Compression:",IDC_STATIC_COMPRESS,21,26,50,8
    COMBOBOX        IDC_COMBO_MAXRTENCODE,81,24,151,73, CBS_DROPDOWNLIST |
                        WS_VSCROLL | WS_TABSTOP
    LTEXT           "&Decompression:",IDC_STATIC_DECOMPRESS,21,44,50,8
    COMBOBOX        IDC_COMBO_MAXRTDECODE,81,42,151,73, CBS_DROPDOWNLIST |
                        WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Auto-Configure",IDC_BTN_AUTOCONFIG,81,60,80,14
    DEFPUSHBUTTON   "OK",IDOK,138,96,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,195,96,50,14
END

#endif

