/*      Copyright (c) Microsoft Corporation 1997-1999.  All rights reserved. */

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR     "MPU401 Adapter Driver"
#define VER_INTERNALNAME_STR	    "msmpu401.sys"
#define VER_ORIGINALFILENAME_STR    "msmpu401.sys"

#include "common.ver"
