//***************************************************************************
//
//  Copyright 1992-1994 Adaptec, Inc.  All rights reserved. This software
//  contains the valuable trade secrets of Adaptec.  The software is
//  protected under copyright laws as an unpublished work of Adaptec.
//  Notice is for informational purposes only and does not imply publication.
//  The user of this software may make copies of the software for use with
//  parts manufactured by Adaptec or under license from Adaptec and for no
//  other use.
//
//***************************************************************************


//===========================================================================
//
//  Module Name:
//
//      aha154x.rc
//
//  Abstract:
//
//      This is the miniport resource file for the aha154x series miniport
//      driver.
//
//  Author:
//
//      Bill Williams
//      James Goodwin
//
//  Environment:
//
//      kernel mode only
//
//  Notes:
//
//  Revision History:
//
//  Indentation:
//
//      4 spaces per tab
//
//===========================================================================

#include <windows.h>
#include <ntverp.h>

//
// This is the DCS label for the version of the sources from which the driver
// was built.
//
#define SOURCE_VERSION                             "BW004"

//
// Declared miniport version number. Every unique binary released for any reason
// must have a unique version number.
//
#define MINIPORT_VERSION                           "v1.13b"

#if (defined _INCLUDE_DEV_BANNER)
	//
	// DEV_BANNER should always include a leading space before text.
	//
    #define DEV_BANNER                             " "
#else
    #define DEV_BANNER
#endif


//
// This defines the copyright years for your driver.
//
#define VER_LEGALCOPYRIGHT_YEARS                "1998"

//
// The defines below this line should not be changed. The defines listed above
// should be set for each driver release.
//
//****************************************************************************

//#define VER_COMPANYNAME_STR         "Adaptec, Inc."
#define VER_INTERNALNAME_STR        SOURCE_VERSION
#define VER_FILEVERSION_STR         MINIPORT_VERSION DEV_BANNER
#define VER_FILEDESCRIPTION_STR     "Adaptec AHA-154x series SCSI miniport"
#define VER_ORIGINALFILENAME_STR    "aha154x.sys"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) Adaptec, Inc. " VER_LEGALCOPYRIGHT_YEARS
#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM

#include "common.ver"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
MofResource MOFDATA aha154x.bmf

