//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999 - 2001
//
//  File:      BDACap.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "BDA/AVStream Simulated Hardware Sample"
#define VER_INTERNALNAME_STR        "BDACap.sys"
#define VER_ORIGINALFILENAME_STR    "BDACap.sys"

#include "common.ver"


