/*
§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§
                                                                             
    (C) Copyright 1999 
        All rights reserved.

§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§
                                                                             
  Portions of this software are:

    (C) Copyright 1997 TriplePoint, Inc. -- http://www.TriplePoint.com
        License to use this software is granted under the same terms 
        outlined in the Microsoft Windows Device Driver Development Kit.

§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§

@doc INTERNAL TpiBuild vProduct vProduct_rc

@module vProduct.rc |

    This module defines the product version information.  
    It is included by all the target components of the 
    project via the target's <f vTarget\.rc> file.

    <f Note>:
    This file should not be changed.  The definitions used by this file 
    are defined in <f vVendor\.h>, <f vTarget\.h>, <f vProdNum\.h>, and 
    <f vTargNum\.h>

@head3 Contents |
@index class,mfunc,func,msg,mdata,struct,enum | vProduct_rc

@end
§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§
*/

#ifndef _VPRODUCT_RC_
#define _VPRODUCT_RC_

#if !defined(_VTARGET_RC_)
#  error You should not include vProduct.rc directly, include vTarget.rc instead.
#endif

#include "vTarget.h"    // Target and Product version and build information

#ifndef _MAC

VS_VERSION_INFO VERSIONINFO
    FILEVERSION                         VER_FILE_VERSION_NUM_RC
    PRODUCTVERSION                      VER_COMPONENT_VERSION_NUM_RC
    FILEFLAGSMASK                       VS_FFI_FILEFLAGSMASK
#if defined(_DEBUG) || defined(DEBUG)
    FILEFLAGS                           VS_FF_DEBUG
#else
    FILEFLAGS                           0x00L
#endif
    FILEOS                              VER_FILE_OS
    FILETYPE                            VER_FILE_TYPE
#if defined(VER_FILE_SUB_TYPE)
    FILESUBTYPE                         VER_FILE_SUB_TYPE
#endif
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK VER_LANGUAGE_STRING
        BEGIN
            VALUE "Comments",           "Developed by TriplePoint, Inc.  <www.TriplePoint.com>\0"
            VALUE "CompanyName",        VER_VENDOR_NAME_STR "\0"
            VALUE "FileDescription",    VER_FILE_DESCRIPTION_STR "\0"
            VALUE "FileVersion",        VER_FILE_VERSION_STR_RC "\0"
            VALUE "InternalName",       VER_INTERNAL_NAME_STR "\0"
            VALUE "LegalCopyright",     VER_COPYRIGHT_STR ", " VER_VENDOR_NAME_STR "\0"
            VALUE "OriginalFilename",   VER_ORIGINAL_FILE_NAME_STR "\0"
            VALUE "ProductName",        VER_PRODUCT_NAME_STR "\0"
            VALUE "ProductVersion",     VER_PRODUCT_VERSION_STR_RC "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation",            VER_LANGUAGE_NUM, VER_SUBLANGUAGE_NUM
    END
END

#endif    // !_MAC

#endif /* _VPRODUCT_RC_ */
