#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "ACPI BIOS Simulator Driver"
#define VER_INTERNALNAME_STR        "acpisim.sys"
#define VER_ORIGINALFILENAME_STR    "acpisim.sys"

#include "common.ver"

