#include <winuser.h>
#include "imeeudc.h"
#include "imeeudc.rcv"

ImeEudcMenu MENU
BEGIN
    MENUITEM "&New EUDC",                 IDM_NEW_EUDC
    MENUITEM "&IME Link ...",             IDM_IME_LINK
    MENUITEM "&Batch Mode Link ...",      IDM_BATCH_IME_LINK
END

STRINGTABLE
BEGIN
    // must translate to    "¤¤"
    IDS_CHINESE_CHAR,       "Ch"
    IDS_QUERY_NOTFINISH,    "Not complete composition, Do you want to complete this word?"
    IDS_QUERY_REGISTER,     "Do you want to register this word?"

    IDS_ISV_FILE_FILTER,    "IME information file for end user created char(*.TBL)|*.tbl|"
    IDS_PROCESS_FMT,        "Register %s - %s %s!"
    IDS_RESULT_FAIL,        "Failure"
    IDS_RESULT_SUCCESS,     "Success"

    IDS_INTERNAL_TITLE,     "Internal Message"
    IDS_INTERNAL_MSG,       "Internal Erorr"
    IDS_EUDCDICFAIL_TITLE,  "End user created char dictionary"
    IDS_EUDCDICFAIL_MSG,    "Can not set this file as end user created char dictionary of this IME"
    IDS_NOTOPEN_TITLE,      "Open"
    IDS_NOTOPEN_MSG,        "Can not open this file"
    IDS_FILESIZE_TITLE,     "File Size"
    IDS_FILESIZE_MSG,       "Invalid file size, check file size = ulTableCount * (4 + cMethodKeySize) + 256"
    IDS_HEADERSIZE_TITLE,   "File Header Size"
    IDS_HEADERSIZE_MSG,     "Invalid file size, check uHeaderSize = 256"
    IDS_INFOSIZE_TITLE,     "Input Method Information Size"
    IDS_INFOSIZE_MSG,       "Invalid input method information size, check uInfoSize = 13"
    IDS_CODEPAGE_TITLE,     "Code Page"
#ifdef UNICODE
    IDS_CODEPAGE_MSG,       "Invalid Code Page, check idCP = 1200 (or 950)"
#else
    IDS_CODEPAGE_MSG,       "Invalid Code Page, check idCP = 950"
#endif
    IDS_CWINSIGN_TITLE,     "CWIN_TBL Sign"
    IDS_CWINSIGN_MSG,       "Invalid sign, check idUserCharInfoSign = CWIN_TBL"
    IDS_UNMATCHED_TITLE,    "Input Method"
    IDS_UNMATCHED_MSG,      "Invalid Input Method Name, check achMethodName"

    IDS_NOIME_TITLE,        "Input Method"
    IDS_NOIME_MSG,          "No Input Method can generate IME end user created dictionary"
    IDS_NOMEM_TITLE,        "Memory"
    IDS_NOMEM_MSG,          "Memory resource is not enough"
END

ImeLinkDlg DIALOG LOADONCALL MOVEABLE DISCARDABLE 32, 40, 160, 100
CAPTION "IME Link - "
STYLE WS_CAPTION|WS_POPUP|DS_MODALFRAME|DS_3DLOOK|WS_SYSMENU
BEGIN
    GROUPBOX      "IME radical", -1, 16, 4, 132, 64
    CONTROL       "IME List", IDD_RADICAL, "Radical",
                  WS_GROUP|WS_TABSTOP, 20, 12, 124, 52
    PUSHBUTTON    "&Register", IDOK, 16, 76, 48, 16, WS_GROUP|WS_TABSTOP
    DEFPUSHBUTTON "&Cancel", IDCANCEL, 100, 76, 48, 16, WS_TABSTOP
END

