//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1999 - 2001
//
//  File:      34BDACap.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Philips Europa BDA Driver"
#define VER_INTERNALNAME_STR        "34BDACap.sys"
#define VER_ORIGINALFILENAME_STR    "34BDACap.sys"

#include "common.ver"

