//==========================================================================;
//
//  THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
//  KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
//  IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR
//  PURPOSE.
//
//  Copyright (c) 1992-1994 Microsoft Corporation
//
//--------------------------------------------------------------------------;
//
//  codec.rc
//
//  Description:
//      This file contains the resources for the codec.
//
//
//==========================================================================;

#include <windows.h>
#include "codec.h"
#include "codec.rcv"


//
//
//
ICON_ACM_DRIVER     ICON    codec.ico


//
//
//
//
//
STRINGTABLE MOVEABLE DISCARDABLE
BEGIN
    IDS_ACM_DRIVER_SHORTNAME    "Microsoft Filter"
#ifdef DEBUG
    IDS_ACM_DRIVER_LONGNAME     "Microsoft ACM Audio Filter (debug)"
#else
    IDS_ACM_DRIVER_LONGNAME     "Microsoft ACM Audio Filter"
#endif

    IDS_ACM_DRIVER_COPYRIGHT    "Copyright (C) 1992-1996 Microsoft Corporation"
    IDS_ACM_DRIVER_LICENSING    ""
    IDS_ACM_DRIVER_FEATURES     "Volume and Echo filter for PCM audio data."


    IDS_ACM_DRIVER_TAG_NAME_VOLUME, "Microsoft Volume"
    IDS_ACM_DRIVER_FORMAT_VOLUME,   "Volume %u percent "

    IDS_ACM_DRIVER_TAG_NAME_ECHO,   "Microsoft Echo"
    IDS_ACM_DRIVER_FORMAT_ECHO,     "Volume %u percent, Delay %u ms"
END



//
//  About dialog box.
//
IDD_ABOUT DIALOG DISCARDABLE  0, 0, 172, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About Microsoft Filter"
FONT 10, "MS Dialog"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,61,67,50,14
    ICON            ICON_ACM_DRIVER,IDC_STATIC,77,10,18,20
    LTEXT           "Microsoft Filter:  Catch the Wave!",IDC_ABOUT_CATCHTHEWAVE,
                        36,33,110,8
    LTEXT           "Copyright (C) 1992-1996 Microsoft Corporation",IDC_STATIC,
                        19,48,145,8
END

