#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Fakemodem ""controllerless"" illustrative driver example"
#define VER_INTERNALNAME_STR        "fakemodem.sys"
#define VER_ORIGINALFILENAME_STR    "fakemodem.sys"

#include "common.ver"

