
/*************************************************
 *  chajei.rc                                    *
 *                                               *
 *  Copyright (C) 1995-1999 Microsoft Inc.       *
 *                                               *
 *************************************************/

#include <winuser.h>
#include "chajei.rcv"
#include "imeattr.h"
#include "imerc.h"
#include "ime.rc"

IDBM_CMODE_NATIVE   BITMAP       Chinese.bmp

IDIC_IME_ICON       ICON         IME.ICO

IDRC_VALIDCHAR      RCDATA
BEGIN
//  DWORD dwVersion
    0, 1,

//  WORD fwProperties1;
#ifdef UNICODE
    IMEPROP_UNICODE|
#endif
    0x0000,

//  WORD fwProperties2;
    0x0000,

//  WORD nMaxKey;
    5,

//  WORD nSeqCode;
    0x1A,

//  WORD fChooseChar[6];, bit 15 -> 0xF, bit 0 -> 0x0
    // when this bit == 1, this char can be entered in choosing candidates
    //  20-2F          /.-, +*)(  '&%$ #"!
        0x0001,     // 0000 0000  0000 0001

    //  30-3F          ?>=< ;:98  7654 3210
        0xD3FE,     // 1101 0011  1111 1110

    //  40-4F          ONML KJIH  GFED CBA@
        0xFFFE,     // 1111 1111  1111 1110

    //  50-5f          _^]\ [ZYX  WVUT SRQP
        0x07FF,     // 0000 0111  1111 1111

    //  60-6F          onml kjih  gfed cba`
        0x0000,     // 0000 0000  0000 0000

    //  70-7F          ~}| {zyx  wvut srqp
        0x0000,     // 0000 0000  0000 0000

//  WORD wReserved1[2];
    0x0000, 0x0000,

//  WORD fCompChar[6]; bit 15 -> 0xF, bit 0 -> 0x0
    // when this bit == 1, this char can be entered in composing char
    //  20-2F          /.-, +*)(  '&%$ #"!
        0x0401,     // 0000 0100  0000 0001

    //  30-3F          ?>=< ;:98  7654 3210
        0x0000,     // 0000 0000  0000 0000

    //  40-4F          ONML KJIH  GFED CBA@
        0xFFFE,     // 1111 1111  1111 1110

    //  50-5F          _^]\ [ZYX  WVUT SRQP
        0x07FF,     // 0000 0111  1111 1111

    //  60-6F          onml kjih  gfed cba`
        0x0000,     // 0000 0000  0000 0000

    //  70-7F          ~}| {zyx  wvut srqp
        0x0000,     // 0000 0000  0000 0000

//  WORD wReserved2[2];
    0x0000, 0x0000,

//  WORD wCandPerPage;
    0x0009,

//  WORD wCandStart;
    0x0001,

//  WORD wCandRangeStart;
    0x0001,

//  WORD wReserved3[1];
    0x0000,

//  WORD wSeq2CompTbl[64];
    //   0 1 2 3 4 5 6 7 8 9 A B C D E F - sequence code
#ifdef UNICODE
       0x3000, 0x65E5, 0x6708, 0x91D1, 0x6728, 0x6C34, 0x706B, 0x571F,
       0x7AF9, 0x6208, 0x5341, 0x5927, 0x4E2D, 0x4E00, 0x5F13, 0x4EBA,
#else
        "　日月金木水火土竹戈十大中一弓人", // comp char
    // 0x40A1, 0xE9A4, 0xEBA4, 0xF7AA, 0xECA4, 0xF4A4, 0xF5A4, 0x67A4,
    // 0xCBA6, 0xE0A4, 0x51A4, 0x6AA4, 0xA4A4, 0x40A4, 0x7DA4, 0x48A4,
#endif

    //   101112131415161718191A1B1C1D1E1F
#ifdef UNICODE
       0x5FC3, 0x624B, 0x53E3, 0x5C38, 0x5EFF, 0x5C71, 0x5973, 0x7530,
       0x96E3, 0x535C, 0xFF3A, 0xFF1F, 0x3000, 0x3000, 0x3000, 0x3000,
#else
        "心手口尸廿山女田難卜Ｚ？　　　　",
    // 0xDFA4, 0xE2A4, 0x66A4, 0x72A4, 0xDCA4, 0x73A4, 0x6BA4, 0xD0A5,
    // 0xF8C3, 0x52A4, 0xE8A2, 0x48A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1,
#endif

    //   202122232425262728292A2B2C2D2E2F
#ifdef UNICODE
       0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x3000,
       0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x3000,
#else
        "　　　　　　　　　　　　　　　　",
    // 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1,
    // 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1,
#endif

    //   303132333435363738393A3B3C3D3E3F
#ifdef UNICODE
       0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x3000,
       0x3000, 0x3000, 0x3000, 0x3000, 0x3000, 0x20AC, 0x3000, 0xFF0A,
#else
        "　　　　　　　　　　　　　　　＊",
    // 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1,
    // 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0x40A1, 0xAFA1,
#endif

//  WORD wChar2SeqTbl[0x42];
    //  ' '   !     "     #     $     %     &     ' - char code
        0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, // sequence code

    //  (     )     *     +     ,     -     .     /
        0x00, 0x00, 0x3F, 0x00, 0x00, 0x00, 0x00, 0x00,

    //  0     1     2     3     4     5     6     7
        0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,

    //  8     9     :     ;     <     =     >     ?
        0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00,

    //  @     A     B     C     D     E     F     G
        0x00, 0x01, 0x02, 0x03, 0x04, 0x05, 0x06, 0x07,

    //  H     I     J     K     L     M     N     O
        0x08, 0x09, 0x0A, 0x0B, 0x0C, 0x0D, 0x0E, 0x0F,

    //  P     Q     R     S     T     U     V     W
        0x10, 0x11, 0x12, 0x13, 0x14, 0x15, 0x16, 0x17,

    //  X     Y     Z     [     \     ]     ^     _ 
        0x18, 0x19, 0x1A, 0x00, 0x00, 0x00, 0x00, 0x00,

    //  `     a
        0x3D, 0x00,
END


IDRC_TABLEFILES     RCDATA
BEGIN
#ifdef UNICODE
// szTblFile[4][16]
    L"A15.TBL\0 0123456",                L"A234.TBL\0 123456",
    L"ACODE.TBL\0 23456",                L"\0 34567890123456",
#else
// szTblFile[4][32]
    "A15.TBL\0 01234567890123456789012", "A234.TBL\0 1234567890123456789012",
    "ACODE.TBL\0 234567890123456789012", "\0 345678901234567890123456789012",
#endif
END


STRINGTABLE
BEGIN
    IDS_IMENAME,          "ChangJei"
    IDS_IMEUICLASS,       "CHAJEI"
    IDS_IMECOMPCLASS,     "CompCHAJEI"
    IDS_IMECANDCLASS,     "CandCHAJEI"
    IDS_IMESTATUSCLASS,   "StatusCHAJEI"
    IDS_IMEOFFCARETCLASS, "OffCHAJEI"
    IDS_IMECMENUCLASS,    "CMenuCHAJEI"
END


