#include <windows.h>

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "CoInstaller: CopyINF"
#define VER_INTERNALNAME_STR        "COCPYINF.DLL"
#define VER_ORIGINALFILENAME_STR    "COCPYINF.DLL"
#include <common.ver>


