#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR 	"WDM Video Capture Driver"
#define VER_INTERNALNAME_STR            "testcap.sys"
#define VER_ORIGINALFILENAME_STR        "testcap.sys"

#include "common.ver"

