//***************************************************************************
//
//  Copyright 1994-1999 Initio corp.  All rights reserved.
//
//***************************************************************************


//===========================================================================
//
//  Module Name:
//
//      ini910u.rc
//
//  Abstract:
//
//      This is the miniport resource file for the ini910u.
//
//===========================================================================

#include <windows.h>
#include <ntverp.h>

//
// This is the DCS label for the version of the sources from which the driver
// was built.
//
#define SOURCE_VERSION          "INITIO WINNT driver 2.17"

//
// Declared miniport version number. Every unique binary released for any reason
// must have a unique version number.
//
#define MINIPORT_VERSION        "2.17"

#if (defined _INCLUDE_DEV_BANNER)
	//
	// DEV_BANNER should always include a leading space before text.
	//
    #define DEV_BANNER                             " "
#else
    #define DEV_BANNER
#endif


//
// This defines the copyright years for your driver.
//
#define VER_LEGALCOPYRIGHT_YEARS                "1994-1999"

//
// The defines below this line should not be changed. The defines listed above
// should be set for each driver release.
//
//****************************************************************************

#define VER_INTERNALNAME_STR        SOURCE_VERSION
#define VER_FILEVERSION_STR         MINIPORT_VERSION DEV_BANNER
#define VER_FILEDESCRIPTION_STR     "INITIO ini910u SCSI miniport"
#define VER_ORIGINALFILENAME_STR    "ini910u.sys"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) Initio corp. " VER_LEGALCOPYRIGHT_YEARS
#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM

#include "common.ver"


