#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Sockets Helper DLL"
#define VER_INTERNALNAME_STR        "WSHSMPLE.dll"
#define VER_ORIGINALFILENAME_STR    "WSHSMPLE.dll"

#include "common.ver"


