/***************************************************************************\
*
*                        ************************
*                        * MINIPORT SAMPLE CODE *
*                        ************************
*
* Module Name:
*
*   perm3.rc
*
* Abstract:
*
*  This module contains all the definitions for resource file
*
* Environment:
*
*   Kernel mode
*
*
* Copyright (c) 1994-1999 3Dlabs Inc. Ltd. All rights reserved.            
* Copyright (c) 1995-2003 Microsoft Corporation.  All Rights Reserved.
*
\***************************************************************************/
#include <windows.h>
#include <ntverp.h>

#undef  VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR         "Microsoft Corp., 3Dlabs Inc. Ltd."
#define VER_LEGALCOPYRIGHT_YEARS    "1998-2003"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) Microsoft Corporation, 3D Labs Inc., Ltd." VER_LEGALCOPYRIGHT_YEARS
#define VER_FILEVERSION_STR         "1.00"
#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "Permedia 3 Miniport Driver"
#define VER_INTERNALNAME_STR        "perm3.sys"
#define VER_ORIGINALFILENAME_STR    "perm3.sys"

#include "common.ver"


