#include "wiascanr.rcv"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN

// Device Commands (strings)
IDS_CMD_BUILD_DEVICE_TREE_NAME     "Build device tree"
IDS_CMD_SYNCRONIZE_NAME            "Synchronize"

IDS_CMD_BUILD_DEVICE_TREE_DESC     "Build device tree Command"
IDS_CMD_SYNCRONIZE_DESC            "Synchronize Command"

// Device Events (strings)
IDS_EVENT_SCANBUTTON_NAME          "Scan Button"
IDS_EVENT_COPYBUTTON_NAME          "Copy Button"
IDS_EVENT_FAXBUTTON_NAME           "Fax Button"
IDS_EVENT_DEVICE_CONNECTED_NAME    "Device connected"
IDS_EVENT_DEVICE_DISCONNECTED_NAME "Device disconnected"

IDS_EVENT_SCANBUTTON_DESC          "Scanner Button Event"
IDS_EVENT_COPYBUTTON_DESC          "Copy Button Event"
IDS_EVENT_FAXBUTTON_DESC           "Fax Button Event"
IDS_EVENT_DEVICE_CONNECTED_DESC    "Device connected Event"
IDS_EVENT_DEVICE_DISCONNECTED_DESC "Device disconnected Event"

// Item Names (strings)
IDS_ROOTITEM_NAME                  "Root"
IDS_TOPITEM_NAME                   "Top"

END

