//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 1998
//
//  File:       miniqic.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "SCSI Tape Driver"
#define VER_INTERNALNAME_STR        "miniqic.sys"
#define VER_ORIGINALFILENAME_STR    "miniqic.sys"

#define VER_LANGNEUTRAL
#include "common.ver"

