/******************************Module*Header**********************************\
*
*                           *******************
*                           * GDI SAMPLE CODE *
*                           *******************
*
* Module Name: res.rc
*
* Content: Resource file for the display driver.
*
* Copyright (c) 1994-1999 3Dlabs Inc. Ltd. All rights reserved.
* Copyright (c) 1995-2003 Microsoft Corporation.  All rights reserved.
\*****************************************************************************/

#include "windows.h"

1 RCDATA
BEGIN
// Machine dependent parameters
    17,     // Height of vertical thumb
    17,     // Width of horizontal thumb
    2,      // Icon horiz compression factor
    2,      // Icon vert compression factor
    1,      // Cursor horz compression factor
    1,      // Cursor vert compression factor
    0,      // Kanji window height
    1,      // cxBorder (thickness of vertical lines)
    1       // cyBorder (thickness of horizontal lines)
END

#include <ntverp.h>

#undef  VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR      "Microsoft Corp., 3Dlabs Inc. Ltd."
#define VER_LEGALCOPYRIGHT_YEARS "1998-2003"
#define VER_LEGALCOPYRIGHT_STR   "Copyright (C) Microsoft Corp., 3Dlabs Inc." VER_LEGALCOPYRIGHT_YEARS
#define VER_FILEVERSION_STR      "1.00"

#define VER_FILETYPE             VFT_DRV
#define VER_FILESUBTYPE          VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR  "Permedia3 Display Driver"
#define VER_INTERNALNAME_STR     "perm3dd.dll"
#define VER_ORIGINALFILENAME_STR "perm3dd.dll"

#include "common.ver"

