/*++

Copyright (c) 1990-2003  Microsoft Corporation


Module Name:

    plotui.rc


Abstract:

    This module contains all resources definitions for the plotter driver's
    user interface


Development History:

    02-Dec-1993 Thu 10:12:33 created  


[Environment:]

    GDI Device Driver - Plotter.


[Notes:]


Revision History:


--*/

#include "windows.h"
#include "plotui.h"

IDI_DEFAULT_PENCLR          ICON    icons\defpclr.ico
IDI_AUTO_ROTATE_NO          ICON    icons\arot_no.ico
IDI_AUTO_ROTATE_YES         ICON    icons\arot_yes.ico
IDI_PRINT_SMALLER_PAPER_NO  ICON    icons\psp_no.ico
IDI_PRINT_SMALLER_PAPER_YES ICON    icons\psp_yes.ico
IDI_MANUAL_CX               ICON    icons\feed_cx.ico
IDI_MANUAL_CY               ICON    icons\feed_cy.ico
IDI_FILL_TRUETYPE_NO        ICON    icons\ftt_no.ico
IDI_FILL_TRUETYPE_YES       ICON    icons\ftt_yes.ico

IDI_WHITE                   ICON    icons\c_white.ico
IDI_BLACK                   ICON    icons\c_black.ico
IDI_RED                     ICON    icons\c_red.ico
IDI_GREEN                   ICON    icons\c_green.ico
IDI_YELLOW                  ICON    icons\c_yellow.ico
IDI_BLUE                    ICON    icons\c_blue.ico
IDI_MAGENTA                 ICON    icons\c_megent.ico
IDI_CYAN                    ICON    icons\c_cyan.ico
IDI_ORANGE                  ICON    icons\c_orange.ico
IDI_BROWN                   ICON    icons\c_brown.ico
IDI_VIOLET                  ICON    icons\c_violet.ico



STRINGTABLE DISCARDABLE PRELOAD

BEGIN
    IDS_PLOTTER_DRIVER,         "Raster/Pen Plotter Driver"
    IDS_NO_MEMORY,              "Failed to allocate memory."
    IDS_INVALID_DATA,           "Invalid data passed to the plotter driver"
    IDS_FORM_NOT_AVAI,          "Form not loaded in the plotter"
    IDS_FORM_TOO_BIG,           "Form size is too big for the plotter"

    IDS_INV_DMSIZE,             "Invalid DEVMODE version."
    IDS_INV_DMVERSION,          "Invalid DEVMODE size."
    IDS_INV_DMDRIVEREXTRA,      "Invalid driver extra data."
    IDS_INV_DMCOLOR,            "Invalid color value."
    IDS_INV_DMCOPIES,           "Invalid number of copies."
    IDS_INV_DMSCALE,            "Invalid scaling factor."
    IDS_INV_DMORIENTATION,      "Invalid orientation."
    IDS_INV_DMFORM,             "Invalid form name or paper size."
    IDS_INV_DMQUALITY,          "Invalid output quality setting"

    IDS_HELP_FILENAME,          "plotui.hlp"
    IDS_NO_HELP,                "Could not load help file '%ls'."
    IDS_PP_NO_SAVE              "Could not save printer properties settings"

    IDS_INSTALLED_FORM,         "Installed Form"

    IDS_MANUAL_FEEDER,          "Manual Feeder"
    IDS_MANUAL_FEED_METHOD,     "Manual Feed Method"
    IDS_MANUAL_CX,              "Insert &Width-side First"
    IDS_MANUAL_CY,              "Insert &Length-side First"
    IDS_ROLLFEED,               "Roll Paper Feeder"
    IDS_MAINFEED,               "Main Paper Tray"

    IDS_PRINT_FORM_OPTIONS,     "Print Form Options"
    IDS_AUTO_ROTATE,            "Auto. Rotate Form To Save Roll Paper"
    IDS_PRINT_SAMLLER_PAPER,    "Print Smaller Paper Size"

    IDS_INSTALLED_PENSET,       "Installed Pen Set"
    IDS_PEN_SETUP,              "Plotter Pen Setup"

    IDS_PENSET_1,               "Pen Set #1"
    IDS_PENSET_2,               "Pen Set #2"
    IDS_PENSET_3,               "Pen Set #3"
    IDS_PENSET_4,               "Pen Set #4"
    IDS_PENSET_5,               "Pen Set #5"
    IDS_PENSET_6,               "Pen Set #6"
    IDS_PENSET_7,               "Pen Set #7"
    IDS_PENSET_8,               "Pen Set #8"

    IDS_PEN_NUM,                "Pen Number "
    IDS_DEFAULT_PENCLR,         "Set All Pens To Default &Color"

    IDS_QUALITY_DRAFT,          "Fast  (Draft)"
    IDS_QUALITY_LOW,            "Proof  (Low)"
    IDS_QUALITY_MEDIUM,         "Normal  (Final)"
    IDS_QUALITY_HIGH,           "Best  (Enhanced)"


    IDS_WHITE,                  "<Empty - White>"
    IDS_BLACK,                  "Black"
    IDS_RED,                    "Red"
    IDS_GREEN,                  "Green"
    IDS_YELLOW,                 "Yellow"
    IDS_BLUE,                   "Blue"
    IDS_MAGENTA,                "Red-Violet"
    IDS_CYAN,                   "Aqua"
    IDS_ORANGE,                 "Orange"
    IDS_BROWN,                  "Brown"
    IDS_VIOLET,                 "Violet"

    IDS_FILL_TRUETYPE,          "Fill TrueType Font"
    IDS_POSTER_MODE,            "Quick Poster Mode (Single Image Page)"

    IDS_USERFORM,               "Custom Size"

END

#include <ntverp.h>
#define VER_FILEVERSION             0, 3, VER_PRODUCTBUILD, VER_PRODUCTBUILD_QFE
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "Pen/Raster Plotter Driver User Interface"
#define VER_INTERNALNAME_STR        "PLOTUI.DLL"
#define VER_ORIGINALFILENAME_STR    "PLOTUI.DLL"

#include "common.ver"

