#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "1394 Desktop Camera Driver"
#define VER_INTERNALNAME_STR        "sonydcam.sys"
#define VER_ORIGINALFILENAME_STR    "sonydcam.sys"

#include "common.ver"



