
#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WDM NULL filter driver with WMI support"
#define VER_INTERNALNAME_STR        "wmifilt.sys"
#define VER_ORIGINALFILENAME_STR    "wmifilt.sys"

#include "common.ver"

#ifndef USE_BINARY_MOF_QUERY
//
// Include the compiled binary mof as a resource
MofResourceName    MOFDATA    filter.bmf
#endif

