/******************************Module*Header*******************************\
*
*                           *******************
*                           * GDI SAMPLE CODE *
*                           *******************
*
* Module Name: mirror.rc
*
* Resource file for the display driver.
*
* Copyright (c) 1993-1998 Microsoft Corporation
\**************************************************************************/
#include "windows.h"

1 RCDATA
BEGIN
// Machine dependent parameters
    17,     // Height of vertical thumb
    17,     // Width of horizontal thumb
    2,      // Icon horiz compression factor
    2,      // Icon vert compression factor
    1,      // Cursor horz compression factor
    1,      // Cursor vert compression factor
    0,      // Kanji window height
    1,      // cxBorder (thickness of vertical lines)
    1       // cyBorder (thickness of horizontal lines)
END

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "Mirror Sample Driver"
#define VER_INTERNALNAME_STR        "mirror.dll"
#define VER_ORIGINALFILENAME_STR    "mirror.dll"

#define VER_LANGNEUTRAL
#include "common.ver"

