//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1993 - 1999
//
//  File:       parport.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Parallel Port Driver"
#define VER_INTERNALNAME_STR        "parport.sys"
#define VER_ORIGINALFILENAME_STR    "parport.sys"

#include "common.ver"

#include "parlog.rc"

