#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Mouse Class Driver"
#define VER_INTERNALNAME_STR        "mouclass.sys"
#define VER_ORIGINALFILENAME_STR    "mouclass.sys"

#include "common.ver"

#include "moulog.rc"


