#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE                VFT_DLL
#define	VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "1394 Diagnostic Driver"
#define VER_INTERNALNAME_STR        "1394DIAG.SYS"
#define VER_ORIGINALFILENAME_STR    "1394DIAG.SYS"

#include "common.ver"


