//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 1998
//
//  File:       exabyte.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Exabyte 210/220/440/480 Medium changer driver"
#define VER_INTERNALNAME_STR        "examc.sys"
#define VER_ORIGINALFILENAME_STR    "examc.sys"

#define VER_LANGNEUTRAL
#include "common.ver"

