/********************************************************************************
**    Copyright (c) 1999-2000 Microsoft Corporation. All Rights Reserved.
********************************************************************************/

#include <windows.h>
#include <winres.h>
#include "resource.h"
#include "version.h"


#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

DLG_AC97FEATURES DIALOG DISCARDABLE  0, 0, 257, 215
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Features"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "6-bit Master Volume Control",IDC_STATIC,12,18,87,8
    LTEXT           "6-bit Headphone Volume Control",IDC_HEADPHONE_TEXT,12,
                    30,103,8
    LTEXT           "6-bit Mono Volume Control",IDC_MONOOUT_TEXT,12,42,84,8
    LTEXT           "DAC Resolution in bits",IDC_STATIC,138,165,71,8
    LTEXT           "ADC Resolution in bits",IDC_STATIC,138,177,71,8
    LTEXT           "3D Effect Technique",IDC_3D_TECHNIQUE,9,75,237,8
    LTEXT           "Variable Sample Rate Support for PCM",IDC_STATIC,9,108,
                    123,8
    LTEXT           "Double Sample Rate Support for PCM",IDC_STATIC,9,120,
                    120,8
    LTEXT           "Variable Sample Rate Support for MIC",IDC_VSRMIC_TEXT,9,
                    132,120,8
    LTEXT           "Center DAC",IDC_STATIC,9,165,38,8
    LTEXT           "Surround DAC",IDC_STATIC,9,177,46,8
    LTEXT           "LFE DAC",IDC_STATIC,9,189,30,8
    GROUPBOX        "Volume Control Resolution",IDC_STATIC,3,6,249,48
    GROUPBOX        "Converter Resolution",IDC_STATIC,129,153,123,48
    GROUPBOX        "Sample Rate",IDC_STATIC,3,96,249,48
    GROUPBOX        "Additional DACs",IDC_STATIC,3,153,114,48
    GROUPBOX        "3D Effect Technique",IDC_3D_TECHNIQUE_BOX,3,60,249,30
    LTEXT           "Yes",IDC_6BIT_MASTER_OUT,141,18,14,8
    LTEXT           "Yes",IDC_6BIT_HEADPHONE,141,30,14,8
    LTEXT           "Yes",IDC_6BIT_MONO_OUT,141,42,14,8
    LTEXT           "16",IDC_DAC_RESOLUTION,228,165,9,8
    LTEXT           "16",IDC_ADC_RESOLUTION,228,177,9,8
    LTEXT           "Yes",IDC_VSR_PCM,150,108,14,8
    LTEXT           "Yes",IDC_DSR_PCM,150,120,14,8
    LTEXT           "Yes",IDC_VSR_MIC,150,132,14,8
    LTEXT           "Yes",IDC_CENTER_DAC,87,165,14,8
    LTEXT           "Yes",IDC_SURROUND_DAC,87,177,14,8
    LTEXT           "Yes",IDC_LFE_DAC,87,189,14,8
END

