/* Copyright (c) 1997,1998 Microsoft Corporation.  All Rights Reserved. */

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR     "Sound Blaster 16 Adapter Driver"
#define VER_INTERNALNAME_STR        "sb16.sys"
#define VER_ORIGINALFILENAME_STR    "sb16.sys"

#include "common.ver"


