#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Kernel Debugger Extensions for Ndis"

#define VER_INTERNALNAME_STR        "ndiskd.dll"
#define VER_ORIGINALFILENAME_STR    "ndiskd.dll"

#include <common.ver>

