#include "windows.h"
#include "resource.h"


IDD_MAIN DIALOG DISCARDABLE  0, 0, 319, 154
STYLE DS_SETFOREGROUND | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "TestWMI"
FONT 8, "MS Shell Dlg"
BEGIN
    COMBOBOX        IDL_CLASSES,37,26,264,76,CBS_DROPDOWN | CBS_AUTOHSCROLL | 
                    CBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Tree1",IDT_INSTANCES,"SysTreeView32",TVS_SHOWSELALWAYS | 
                    TVS_FULLROWSELECT | WS_BORDER | WS_GROUP | WS_TABSTOP,16,
                    60,136,69
    CONTROL         "Tree1",IDT_PROPERTIES,"SysTreeView32",TVS_SHOWSELALWAYS | 
                    TVS_FULLROWSELECT | WS_BORDER | WS_GROUP | WS_TABSTOP,
                    163,60,138,69
    CONTROL         "Class",IDS_CLASSES,"Static",SS_LEFTNOWORDWRAP | 
                    WS_GROUP,14,28,18,8
    CONTROL         "Properties",IDS_PROPERTIES,"Static",SS_LEFTNOWORDWRAP | 
                    WS_GROUP,163,47,32,8
    GROUPBOX        "Select a class from the list to view its instances",
                    IDG_INSTANCES,5,10,305,128
    CONTROL         "Instances",IDS_INTANCES,"Static",SS_LEFTNOWORDWRAP | 
                    WS_GROUP,14,47,32,8
END

IDD_SCALAR_PROPERTY DIALOG DISCARDABLE  0, 0, 249, 66
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Property Name"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "Modify",IDB_MODIFY,38,45,50,14,BS_NOTIFY | WS_GROUP
    LTEXT           "Type:",IDS_TYPE,7,7,19,9
    EDITTEXT        IDE_PROPERTY_VALUE,7,22,228,15,ES_AUTOHSCROLL
    CONTROL         "Property type",IDS_PROPERTY_TYPE,"Static",
                    SS_LEFTNOWORDWRAP | WS_GROUP,30,7,185,9
    DEFPUSHBUTTON   "Cancel",IDB_CANCEL,151,45,50,14,BS_NOTIFY | WS_GROUP
END

IDD_ARRAY_PROPERTY DIALOG DISCARDABLE  0, 0, 211, 156
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Cancel",IDB_CANCEL,154,135,50,14,BS_NOTIFY
    PUSHBUTTON      "Modify",IDB_MODIFY,7,135,50,14,BS_NOTIFY | WS_GROUP
    LTEXT           "Type:",IDS_TYPE,7,9,19,9
    CONTROL         "Property type",IDS_PROPERTY_TYPE,"Static",
                    SS_LEFTNOWORDWRAP | WS_GROUP,55,9,149,9
    CONTROL         "Tree1",IDT_PROPERTY_VALUE,"SysTreeView32",
                    TVS_EDITLABELS | TVS_TRACKSELECT | TVS_FULLROWSELECT | 
                    WS_BORDER | WS_GROUP | WS_TABSTOP,7,25,197,103
    CONTROL         "Array of",IDS_PROPERTY_TYPE_ARRAY,"Static",
                    SS_LEFTNOWORDWRAP | WS_GROUP,29,9,25,8
END
