#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Microsoft\256 GPC Plot Utility"

#define VER_INTERNALNAME_STR        "PLOTGPC.EXE"
#define VER_ORIGINALFILENAME_STR    "PLOTGPC.EXE"

#include <common.ver>


