/*****************************************************************************
 *
 *  FFDrv1.rc
 *
 *  Abstract:
 *
 *      Version resource.
 *
 *****************************************************************************/

#include <winver.h>

/*
 * !!IHV!!  Update the following #define's
 */

#define COMMA_VERSION           1,0,0,0
#define STRING_VERSION          "1.0.0.0\0"
#define VERSIONCOMPANYNAME      "XYZZY Corporation"
#define VERSIONDESCRIPTION      "XYZZY Force Feedback Joystick Effect Driver"
#define VERSIONNAME             "FFDRV1.DLL"
#define VERSIONCOPYRIGHT        "Copyright \251 XYZZY Corporation 1997\0"
#define VERSIONPRODUCTNAME      "XYZZY Force Feedback Joystick"


VS_VERSION_INFO VERSIONINFO
FILEVERSION     COMMA_VERSION
PRODUCTVERSION  COMMA_VERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_DOS_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN

        /*
         * !!IHV!! Update this for languages other than English.
         */
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        VERSIONCOMPANYNAME
            VALUE "FileDescription",    VERSIONDESCRIPTION
            VALUE "FileVersion",        STRING_VERSION
            VALUE "InternalName",       VERSIONNAME
            VALUE "LegalCopyright",     VERSIONCOPYRIGHT
            VALUE "OriginalFilename",   VERSIONNAME
            VALUE "ProductName",        VERSIONPRODUCTNAME
            VALUE "ProductVersion",     STRING_VERSION
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /*
         * !!IHV!! Update this for languages other than English.
         */
        VALUE "Translation", 0x409, 1252
    END

END
