#include <windows.h>

#include <ntverp.h>
#include "perm2ver.h"

#undef  VER_COMPANYNAME_STR
#define VER_COMPANYNAME_STR         "Microsoft Corp., 3Dlabs Inc. Ltd."
#define VER_LEGALCOPYRIGHT_YEARS    "1998-2001"
#define VER_LEGALCOPYRIGHT_STR      "Copyright (C) Microsoft Corp., 3Dlabs Inc. Ltd." VER_LEGALCOPYRIGHT_YEARS
#define VER_FILEVERSION_STR         PERM2_VERSION_STRING

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "Permedia2 Miniport Driver"
#define VER_INTERNALNAME_STR        "perm2.sys"
#define VER_ORIGINALFILENAME_STR    "perm2.sys"

#include "common.ver"


