//+-------------------------------------------------------------------------
//
//  Microsoft Windows
//
//  Copyright (C) Microsoft Corporation, 1998 - 1998
//
//  File:       qic157.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DRV
#define	VER_FILESUBTYPE	VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "ATAPI Tape Driver"
#define VER_INTERNALNAME_STR        "qic157.sys"
#define VER_ORIGINALFILENAME_STR    "qic157.sys"

#define VER_LANGNEUTRAL
#include "common.ver"

