//(C) COPYRIGHT MICROSOFT CORP., 1998-1999


#include "resource.h"
#include "winuser.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources



/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DEVICE_PROPPAGE DIALOG DISCARDABLE  0, 0, 210, 154
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Property Page"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_IMAGEROOT,84,24,119,14,ES_AUTOHSCROLL
    CONTROL         "",IDC_LOGOBMP,"Static",SS_BLACKFRAME|SS_BITMAP,62,67,90,80
    LTEXT           "Camera Root Path:",-1,7,25,70,12
END


STRINGTABLE DISCARDABLE
BEGIN
   ID_CHANGEROOT "Change Root"
   IDS_ERRCAPTION "TestCam Error"
   IDS_ERRPROPSET "Unable to set the property."
   IDS_BADPATH    "The directory path does not exist. Please enter the path to an existing directory."
   IDS_BROWSETITLE "Select camera root path."
END


IDI_TESTDEVICE ICON "testdev.ico"

IDR_VIEWREG REGISTRY DISCARDABLE "wiacamui.rgs"
1 TYPELIB extidl.tlb

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "WIA TestCam UI DLL"
#define VER_INTERNALNAME_STR        "extend\0"
#define VER_ORIGINALFILENAME_STR    "extend.dll"

#include "common.ver"





