#include "fakecam.rcv"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN

IDS_EVENT_DEVICE_CONNECTED_NAME    "Device connected"
IDS_EVENT_DEVICE_DISCONNECTED_NAME "Device disconnected"
IDS_CMD_SYNCRONIZE_NAME            "Synchronize"
IDS_CMD_DELETE_ALL_ITEMS_NAME      "Delete ALL items"
IDS_CMD_DELETE_DEVICE_TREE_NAME    "Delete device tree"
IDS_CMD_BUILD_DEVICE_TREE_NAME     "Build device tree"

IDS_EVENT_DEVICE_CONNECTED_DESC    "Device connected"
IDS_EVENT_DEVICE_DISCONNECTED_DESC "Device disconnected"
IDS_CMD_SYNCRONIZE_DESC            "Synchronize"
IDS_CMD_DELETE_ALL_ITEMS_DESC      "Delete ALL items"
IDS_CMD_DELETE_DEVICE_TREE_DESC    "Delete device tree"
IDS_CMD_BUILD_DEVICE_TREE_DESC     "Build device tree"

END

