#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "Mirror Miniport Driver"
#define VER_INTERNALNAME_STR        "mirror.sys"
#define VER_ORIGINALFILENAME_STR    "mirror.sys"

#define VER_LANGNEUTRAL
#include "common.ver"

