#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "I82930 Bulk Read and Write test App"
#define VER_INTERNALNAME_STR        "RwBulk.sys"
#define VER_ORIGINALFILENAME_STR    "RwBulk.sys"

#include <common.ver>


