#include "wiacam.rcv"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN

IDS_EVENT_DEVICE_CONNECTED_NAME    "Device connected"
IDS_EVENT_DEVICE_DISCONNECTED_NAME "Device disconnected"
IDS_EVENT_ITEM_DELETED_NAME        "Item deleted"
IDS_CMD_SYNCRONIZE_NAME            "Synchronize"
IDS_CMD_DELETE_ALL_ITEMS_NAME      "Delete ALL items"
IDS_CMD_DELETE_DEVICE_TREE_NAME    "Delete device tree"
IDS_CMD_BUILD_DEVICE_TREE_NAME     "Build device tree"

IDS_EVENT_DEVICE_CONNECTED_DESC    "Device connected"
IDS_EVENT_DEVICE_DISCONNECTED_DESC "Device disconnected"
IDS_EVENT_ITEM_DELETED_DESC        "Item deleted"
IDS_CMD_SYNCRONIZE_DESC            "Synchronize"
IDS_CMD_DELETE_ALL_ITEMS_DESC      "Delete ALL items"
IDS_CMD_DELETE_DEVICE_TREE_DESC    "Delete device tree"
IDS_CMD_BUILD_DEVICE_TREE_DESC     "Build device tree"

IDS_FULLROOTITEM_NAME              "\\ROOT"
IDS_ROOTITEM_NAME                  "ROOT"
IDS_FULLTOPITEM_NAME               "\\ROOT\\TOP"
IDS_TOPITEM_NAME                   "TOP"
END

