#include <Minidrv.H>
#include <Windows.H>
#include <NTVerP.H>

#define VER_FILETYPE VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_VERSIONED_PRINTER
#define VER_FILEVERSION	0, 3, 0x0501, 0x0000

#define VER_FILEDESCRIPTION_STR "PCL-XL Printer Driver"
#define VER_INTERNALNAME_STR "pclxl.dll"
#define VER_ORIGINALFILENAME_STR "pclxl.dll"
#include "common.ver"


1     RC_UFM LOADONCALL DISCARDABLE UFM\ALBERTR.UFM
2     RC_UFM LOADONCALL DISCARDABLE UFM\ALBERTX.UFM
3     RC_UFM LOADONCALL DISCARDABLE UFM\AOLIVEB.UFM
4     RC_UFM LOADONCALL DISCARDABLE UFM\AOLIVEI.UFM
5     RC_UFM LOADONCALL DISCARDABLE UFM\AOLIVER.UFM
6     RC_UFM LOADONCALL DISCARDABLE UFM\ARIALB.UFM
7     RC_UFM LOADONCALL DISCARDABLE UFM\ARIALI.UFM
8     RC_UFM LOADONCALL DISCARDABLE UFM\ARIALJ.UFM
9     RC_UFM LOADONCALL DISCARDABLE UFM\ARIALR.UFM
10    RC_UFM LOADONCALL DISCARDABLE UFM\BENGUATB.UFM
11    RC_UFM LOADONCALL DISCARDABLE UFM\BENGUATI.UFM
12    RC_UFM LOADONCALL DISCARDABLE UFM\BENGUATJ.UFM
13    RC_UFM LOADONCALL DISCARDABLE UFM\BENGUATR.UFM
14    RC_UFM LOADONCALL DISCARDABLE UFM\BOOKMANB.UFM
15    RC_UFM LOADONCALL DISCARDABLE UFM\BOOKMANI.UFM
16    RC_UFM LOADONCALL DISCARDABLE UFM\BOOKMANJ.UFM
17    RC_UFM LOADONCALL DISCARDABLE UFM\BOOKMANR.UFM
18    RC_UFM LOADONCALL DISCARDABLE UFM\BROGHAMB.UFM
19    RC_UFM LOADONCALL DISCARDABLE UFM\BROGHAMI.UFM
20    RC_UFM LOADONCALL DISCARDABLE UFM\BROGHAMJ.UFM
21    RC_UFM LOADONCALL DISCARDABLE UFM\BROGHAMR.UFM
22    RC_UFM LOADONCALL DISCARDABLE UFM\CGOMEGAB.UFM
23    RC_UFM LOADONCALL DISCARDABLE UFM\CGOMEGAI.UFM
24    RC_UFM LOADONCALL DISCARDABLE UFM\CGOMEGAJ.UFM
25    RC_UFM LOADONCALL DISCARDABLE UFM\CGOMEGAR.UFM
26    RC_UFM LOADONCALL DISCARDABLE UFM\CGTIMESB.UFM
27    RC_UFM LOADONCALL DISCARDABLE UFM\CGTIMESI.UFM
28    RC_UFM LOADONCALL DISCARDABLE UFM\CGTIMESJ.UFM
29    RC_UFM LOADONCALL DISCARDABLE UFM\CGTIMESR.UFM
30    RC_UFM LOADONCALL DISCARDABLE UFM\CLARCD.UFM
31    RC_UFM LOADONCALL DISCARDABLE UFM\CORONETR.UFM
32    RC_UFM LOADONCALL DISCARDABLE UFM\COURIERB.UFM
33    RC_UFM LOADONCALL DISCARDABLE UFM\COURIERI.UFM
34    RC_UFM LOADONCALL DISCARDABLE UFM\COURIERJ.UFM
35    RC_UFM LOADONCALL DISCARDABLE UFM\COURIERR.UFM
36    RC_UFM LOADONCALL DISCARDABLE UFM\GARMONDB.UFM
37    RC_UFM LOADONCALL DISCARDABLE UFM\GARMONDI.UFM
38    RC_UFM LOADONCALL DISCARDABLE UFM\GARMONDJ.UFM
39    RC_UFM LOADONCALL DISCARDABLE UFM\GARMONDR.UFM
40    RC_UFM LOADONCALL DISCARDABLE UFM\LETGOTHB.UFM
41    RC_UFM LOADONCALL DISCARDABLE UFM\LETGOTHI.UFM
42    RC_UFM LOADONCALL DISCARDABLE UFM\LETGOTHR.UFM
43    RC_UFM LOADONCALL DISCARDABLE UFM\MARGOLDR.UFM
44    RC_UFM LOADONCALL DISCARDABLE UFM\TIMESNRB.UFM
45    RC_UFM LOADONCALL DISCARDABLE UFM\TIMESNRI.UFM
46    RC_UFM LOADONCALL DISCARDABLE UFM\TIMESNRJ.UFM
47    RC_UFM LOADONCALL DISCARDABLE UFM\TIMESNRR.UFM
48    RC_UFM LOADONCALL DISCARDABLE UFM\UNIVERCB.UFM
49    RC_UFM LOADONCALL DISCARDABLE UFM\UNIVERCI.UFM
50    RC_UFM LOADONCALL DISCARDABLE UFM\UNIVERCJ.UFM
51    RC_UFM LOADONCALL DISCARDABLE UFM\UNIVERCR.UFM
52    RC_UFM LOADONCALL DISCARDABLE UFM\Universa.UFM
53    RC_UFM LOADONCALL DISCARDABLE UFM\UNIVERSB.UFM
54    RC_UFM LOADONCALL DISCARDABLE UFM\Universc.UFM
55    RC_UFM LOADONCALL DISCARDABLE UFM\Universd.UFM
56    RC_UFM LOADONCALL DISCARDABLE UFM\Universe.UFM
57    RC_UFM LOADONCALL DISCARDABLE UFM\UNIVERSI.UFM
58    RC_UFM LOADONCALL DISCARDABLE UFM\UNIVERSJ.UFM
59    RC_UFM LOADONCALL DISCARDABLE UFM\UNIVERSR.UFM
60    RC_UFM LOADONCALL DISCARDABLE UFM\WDINGBAT.UFM
61    RC_UFM LOADONCALL DISCARDABLE UFM\WINGDING.UFM
62    RC_UFM LOADONCALL DISCARDABLE UFM\SYMBOL.UFM

1     RC_GTT LOADONCALL MOVEABLE GTT\Roman8.GTT
2     RC_GTT LOADONCALL MOVEABLE GTT\Math8.GTT
3     RC_GTT LOADONCALL MOVEABLE GTT\Usascii.GTT
4     RC_GTT LOADONCALL MOVEABLE GTT\Generic7.GTT
5     RC_GTT LOADONCALL MOVEABLE GTT\Ecma94.GTT
6     RC_GTT LOADONCALL MOVEABLE GTT\Win31.GTT
7     RC_GTT LOADONCALL MOVEABLE GTT\Dingbat1.GTT
8     RC_GTT LOADONCALL MOVEABLE GTT\Dingbat2.GTT
9     RC_GTT LOADONCALL MOVEABLE GTT\Z1a.GTT
10    RC_GTT LOADONCALL MOVEABLE GTT\Wp.GTT
11    RC_GTT LOADONCALL MOVEABLE GTT\win31a.GTT

STRINGTABLE

BEGIN

1                "RET"
2                "RET - Printer Default"
3                "RET - On"
4                "RET - Light"
5                "RET - Medium"
6                "RET - Dark"
7                "RET - Off"

10               "EconoMode"
11               "EconoMode - Printer Default"
12               "EconoMode - Off"
13               "EconoMode - On"

15               "Dither Quality"
16               "Dither Quality Hi"
17               "Dither Quality Low"

21               "Tray 1"
22               "Tray 2"
23               "Tray 3"
24               "Tray 4"

25               "TrueType Font Download Option"
26               "TrueType Outline"
27               "Bitmap"
28               "None"
END
