#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN

#define VER_FILEDESCRIPTION_STR     "Windows® Server 2003 Driver Development Kit Print DLL"
#define VER_INTERNALNAME_STR        "genprint.dll"
#define VER_ORIGINALFILENAME_STR    "genprint.dll"

#include "common.ver"

